<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="bg-dark">
            <style>
                img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            </style>
            <h1>Attractions 1</h1>
            <img src="" alt="attraction1" width="500" class="center">
            <p>
                Lorem ipsum
            </p>
            <a href="/reservation">Réserver</a>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>