<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div>
            <style>
                img,
                input,
                button,
                textarea {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 1em;
                }
                
                h1 {
                    text-align: center;
                }
            </style>

            <img src="" alt="contact" width="500" class="center">
            <h1>Nous contacter :</h1>
            <form action="/send-mail" method="POST">
                <input type="mail" name="mail" placeholder="Mail" required>
                <input type="text" name="firstname" placeholder="Prénom" required>
                <input type="text" name="lastname" placeholder="Nom" required>
                <input type="text" name="subject" placeholder="Objet" required>
                <textarea name="message" placeholder="Message" rows="5" cols="33" required></textarea>
                <button type="submit">Send</button></form>
            <p>
                <%= message %>
            </p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>