<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="bg-light">
            <style>
                img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            </style>
            <h1>Votre compte a été créé</h1>






        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>