<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="bg-dark">
            <style>
                img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            </style>
            <h1>Mon compte</h1>

            <p>
                user not found
            </p>

        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>